@font-face {
  font-family: avenir-next-regular;
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: avenir-next-demi;
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: avenir-next-bold;
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
::before::after {
  box-sizing: border-box;
}

body {
  font-family: avenir;
  margin: 0;
}

h1 {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: normal;
  padding: 24px 0px 16px 0px;
  font-family: avenir-next-demi;
  margin: 0;
  color: #323232;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 48px 0 36px 0;
  }
}

h3 {
  font-size: 1rem;
  line-height: 1.375rem;
  color: #ffffff;
}

p {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-family: avenir;
  color: #323232;
}
@media (min-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold 700;
  color: #ffffff;
}

.article__subtitle {
  font-weight: 500;
  color: #000000;
}
@media (min-width: 768px) {
  .article__subtitle {
    font-size: 1.5rem;
  }
}
.article__item {
  font-family: avenir-next-demi;
  color: #323232;
}
@media (min-width: 768px) {
  .article__item--large {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

.header {
  background-color: #323232;
}

.nav {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    align-items: flex-end;
  }
}
@media (min-width: 1280px) {
  .nav {
    max-width: 1080px;
    margin: 0 auto;
  }
}
.nav__title {
  text-align: center;
  color: #ffffff;
  font-family: avenir;
  margin-top: 0;
}
@media (min-width: 768px) {
  .nav__title {
    margin-left: 36px;
    font-size: 1.8rem;
    padding: 1.4rem 0;
  }
}
.nav .list {
  display: flex;
  margin: 0%;
  padding: 0%;
}
@media (min-width: 768px) {
  .nav .list {
    margin-left: 4rem;
  }
}
.nav .list__item {
  border-bottom: 3px solid #ffffff;
  font-family: avenir-next-demi;
}
.nav .list__items {
  margin-bottom: 0rem;
  padding-bottom: 1rem;
  text-align: center;
  list-style: none;
  color: #ffffff;
  width: 50%;
}
@media (min-width: 768px) {
  .nav .list__items {
    margin-right: 4rem;
    padding-bottom: 2.2rem;
  }
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  height: 60vw;
  display: flex;
  align-items: center;
}
.hero__title {
  font-size: 1.8rem;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin-left: 2.25rem;
  }
}

.main__wrapper {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .main__wrapper {
    margin: 0 2.25rem;
  }
}
@media (min-width: 1280px) {
  .main__wrapper {
    max-width: 1080px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .article__wrapper {
    display: flex;
    align-items: flex-end;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
.article__image {
  width: 100%;
}
@media (min-width: 768px) {
  .article__tablet {
    margin: 0 64px;
  }
}
.figure {
  margin: 0;
  background: #fafafa;
}
.figure__container {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .figure__container {
    margin: 0 2rem;
  }
}
@media (min-width: 1280px) {
  .figure__container {
    max-width: 1080px;
    margin: 0 auto;
  }
}
.figure__images {
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .figure__images {
    width: 31%;
  }
}
@media (min-width: 768px) {
  .figure__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.footer {
  background: #323232;
}
.footer__container {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .footer__container {
    margin: 0 2rem;
  }
}
@media (min-width: 768px) {
  .footer__container {
    max-width: 1080px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .footer__wrapper-left {
    display: flex;
    gap: 1.8rem;
  }
}
.footer__header {
  color: #ffffff;
  font-family: avenir-next-demi;
}
.footer__subtitle {
  font-family: avenir-next-demi;
  color: #ffffff;
}
.footer__item {
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__wrapper {
    display: flex;
  }
}
.footer__images {
  align-self: center;
}
@media (min-width: 768px) {
  .footer__images {
    margin: 1.2rem 0 0 0;
  }
}
.footer__image {
  padding-right: 2rem;
  height: 1.5rem;
}
@media (min-width: 768px) {
  .footer__bottom {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    display: flex;
    line-height: 1.25rem;
  }
}
.footer__logo {
  color: #ffffff;
  font-family: avenir;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}
.footer__logo--display {
  color: #ffffff;
  font-family: avenir;
  font-size: 1.5rem;
  display: none;
}
@media (min-width: 768px) {
  .footer__logo--display {
    display: block;
  }
}/*# sourceMappingURL=bio.css.map */