@use "./variables" as *;
@use "./mixins" as *;

.footer {
  background: $primary-black;

  &__container {
    margin: 0 1rem;
    @include tablet {
      margin: 0 2rem;
    }

    @include desktop {
      max-width: 1220px;
      margin: 0 auto;
    }
  }

  &__wrapper {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
    &-left {
      @include tablet {
        display: flex;
        gap: 2.8rem;
      }
    }
    &-right {
      align-self: center;
      margin-top: 0.4rem;
    }
  }

  &__logo {
    width: 7.5rem;
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__header {
    color: $white;
    font-family: avenir-next-demi;
  }

  &__subtitle {
    font-family: avenir;
    font-weight: 500;
    color: $alabaster;
  }

  &__item {
    color: $mercury;
    font-weight: normal;
    text-decoration: none;
    &--nomargin {
      margin: 0;
      padding-bottom: 1rem;
      @include tablet {
        padding-bottom: 3rem;
        font-size: 0.92rem;
      }
    }
  }

  &__wrapper {
    @include tablet {
      display: flex;
    }
  }

  &__images {
    align-self: center;

    @include tablet {
      margin: 1.35rem 0 0 0;
    }
  }

  &__image {
    padding-right: 2rem;
    height: 1.5rem;
  }

  &__bottom {
    @include tablet {
      column-gap: 4rem;
      display: flex;
      line-height: 1.25rem;
      white-space: nowrap;
      font-size: 0.875rem;
      margin-bottom: 4rem;
    }
  }

  &__secondary-logo {
    margin: 4rem 0 1rem 0;
    width: 7.5rem;

    @include tablet {
      display: none;
    }
  }
}
