@use "./variables" as *;
@use "./mixins" as *;

.footer {
  background: $primary-black;

  &__container {
    margin: 0 1rem;
    @include tablet {
      margin: 0 2rem;
    }
  }

  &__wrapper {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__header {
    color: $white;
    font-family: avenir-next-demi;
  }

  &__subtitle {
    font-family: avenir-next-demi;
    color: $white;
  }

  &__item {
    color: $white;
    font-weight: normal;
    text-decoration: none;
  }

  &__wrapper {
    @include tablet {
      display: flex;
    }
  }

  &__images {
    align-self: center;
    margin: 1.2rem 11rem 0 0;
  }

  &__image {
    padding-right: 2rem;
    height: 1.5rem;
  }

  &__bottom {
    @include tablet {
      display: flex;
      justify-content: space-between;
      line-height: 1.25rem;
    }
  }

  &__logo {
    color: $white;
    font-family: avenir;
    margin-top: 2rem;

    @include tablet {
      display: none;
    }

    &--display {
      color: $white;
      font-family: avenir;
      font-size: 1.5rem;
      display: none;

      @include tablet {
        display: block;
      }
    }
  }
}
