@use "./mixins" as *;

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  height: 60vw;
  display: flex;
  align-items: center;

  // &__container {
  //   @include desktop {
  //     max-width: 1080px;
  //     margin: 0 auto;
  //   }
  // }

  &__title {
    font-size: 1.8rem;
    margin: 0 1rem;

    @include tablet {
      font-size: 3.75rem;
      line-height: 4.25rem;
      margin-left: 2.25rem;
    }
  }
}
