@use "./variables" as *;
@use "./mixins" as *;

.article {
  &__subtitle {
    font-weight: 500;
    font-size: 0.875rem;
    padding-top: 0.5rem;
    line-height: 1.375rem;
    color: $secondary-black;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__inner-wrapper {
    @include desktop {
      margin: 0 auto;
    }
  }

  &__wrapper {
    margin: 0 1rem;

    @include tablet {
      margin: 0 2.25rem;
    }
    @include desktop {
      max-width: 1220px;
      margin: 0 auto;
    }
  }

  &__item {
    font-family: avenir-next-demi;
    color: $primary-black;
    font-size: 0.98rem;
    line-height: 1.375rem;

    &--large {
      @include tablet {
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
      @include desktop {
        width: 64%;
      }
    }
  }

  &__secondary-container {
    @include tablet {
      display: flex;
      align-items: flex-end;
      column-gap: 2rem;
      padding-bottom: 1rem;
    }
  }

  &__image {
    width: 100%;
  }
  &__container {
    @include tablet {
      margin: 0 4rem;
    }
    @include desktop {
      margin: 0 5.5rem;
    }
  }

  &__text {
    @include tablet {
    }
  }
}

.figure {
  margin: 0;
  background: $alabaster;

  &__container {
    margin: 0 1rem;

    @include tablet {
      margin: 0 2rem;
      padding-bottom: 1.2rem;
    }

    @include desktop {
      max-width: 1220px;
      margin: 0 auto;
    }
  }

  &__images {
    width: 100%;
    margin-bottom: 1rem;
    filter: grayscale(20);

    &:hover {
      filter: none;
    }

    @include tablet {
      width: 31%;
    }
  }
  &__wrapper {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.form {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $mercury;

  @include tablet {
    padding-bottom: 1rem;
  }

  @include desktop {
    width: 52%;
    margin: 0 auto;
  }

  &__image {
    margin: 1.5rem 1rem 0 0;
    height: 38px;
    min-width: 2.25rem;
    max-width: 2.25rem;
    border-radius: 50%;
    background: url(../../assets/images/Mohan-muruge.jpg);
    background-size: cover;
    background-position: -4px;

    @include tablet {
      margin: 1.6rem 1rem 0 0;
      min-width: 3rem;
      max-width: 3rem;
      height: 50px;
      background-position: -4px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__input {
    background: $alabaster;
    border: 1px solid $mercury;
    border-radius: 4px;
    margin-bottom: 1rem;
    height: 2.3rem;
    resize: none;
    font-size: 0.85rem;
    font-family: avenir;

    @include tablet {
      height: 3rem;
    }

    &--resize {
      @include tablet {
        height: 6rem;
        margin-bottom: 2rem;
        font-size: 0.875rem;
      }
    }
  }

  &__label {
    color: $silver;
    font-weight: 450;
    margin: 0.3rem 0;
    font-size: 0.7rem;

    @include tablet {
      font-size: 0.875rem;
    }
  }

  &__button {
    background-color: $primary-black;
    color: $white;
    font-size: 16px;
    border: 1px solid $primary-black;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 1rem;
    width: 100%;

    &-label {
      @include tablet {
        align-self: flex-end;
      }
    }

    @include tablet {
      width: 12rem;
    }
  }
}

// .button__label {
//   @include tablet {
//     align-self: flex-end;
//   }
// }

.shows {
  @include desktop {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
  }

  &__header {
    margin: 2rem 1rem;
    @include tablet {
      font-size: 2.5rem;
      margin: 4rem 2rem;
    }
    @include desktop {
      margin: 2.4rem 6rem 1rem 2rem;
    }
  }

  &__secondary-wrapper {
    @include tablet {
      display: flex;
      margin: 0 2rem;
    }
  }

  &__container {
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 3rem;
    }

    @include desktop {
      margin-top: 3rem;
    }
  }

  &__outer-container {
    border-bottom: 1px solid $mercury;
    margin-top: 1rem;

    &:hover {
      background: $alabaster;
    }
    &:active {
      background: $mercury;
    }
    @include tablet {
      margin: 0 1rem;
    }
  }

  &__inner-container {
    padding: 0;
    margin: 0 1rem;

    @include tablet {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  &__inner-subtitle {
    font-weight: bold;
    margin: 0 0rem 1rem 0;
    width: 7rem;
    white-space: nowrap;

    @include tablet {
      margin: 0 5rem 1rem 0;
    }
  }

  &__subtitle {
    color: $silver;
    font-weight: 450;
    margin: 0 0 0.5rem 0;
    font-size: 0.7rem;

    @include tablet {
      display: none;
    }
  }
  &__secondary-subtitle {
    color: $silver;
    font-weight: 450;
    display: none;
    font-size: 0.875rem;
    margin-right: 5.6rem;

    @include tablet {
      display: flex;
      font-size: 0.8.75rem;
      width: 25%;
    }
    &--margin {
      margin-right: 13rem;
      position: relative;
      right: 1.8rem;
    }
  }

  &__text {
    margin: 0 0 0.5rem 0;
    width: 7rem;
    white-space: nowrap;

    @include tablet {
      margin: 0 3rem 0.5rem 0;
    }

    &--margin {
      @include tablet {
        margin: 0 2rem 0rem 0;
      }
    }
  }

  &__button {
    @include button;
    margin-top: 0.8rem;
    width: 100%;
    @include tablet {
      width: 12rem;
    }
  }
}

.comments {
  margin: 0 1rem;
  @include tablet {
    margin: 0 2.25rem;
    margin-bottom: 2rem;
  }

  @include desktop {
    max-width: 1220px;
    width: 39.6rem;
    margin: 2rem auto;
  }
  margin-bottom: 1rem;
  &__container {
    display: flex;
    border-bottom: 1px solid $mercury;

    &__outer-wrapper {
      width: 100%;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__text {
      color: $primary-black;
      font-weight: bold;
      margin-bottom: 0;
    }

    &__secondary-text {
      margin-top: 0;
    }

    &__item {
      color: $silver;
    }

    &__image {
      margin: 1rem 1rem 0 0;

      min-width: 2.25rem;
      max-width: 2.25rem;
      background: $mercury;
      height: 38px;
      border-radius: 50%;

      @include tablet {
        min-width: 3rem;
        max-width: 3rem;
        height: 50px;
      }
    }
  }
}
