@use "./variables" as *;
@use "./mixins" as *;

.article {
  &__subtitle {
    font-weight: 500;
    font-size: 0.875rem;
    padding-top: 0.5rem;
    line-height: 1.375rem;
    color: $secondary-black;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__wrapper {
    margin: 0 1rem;

    @include tablet {
      margin: 0 2.25rem;
    }
    @include desktop {
      max-width: 1220px;
      margin: 0 auto;
    }
  }

  &__item {
    font-family: avenir-next-demi;
    color: $primary-black;
    font-size: 0.98rem;
    line-height: 1.375rem;

    &--large {
      @include tablet {
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
      @include desktop {
        width: 64%;
      }
    }
  }

  &__secondary-container {
    @include tablet {
      display: flex;
      align-items: flex-end;
      column-gap: 2rem;
      padding-bottom: 1rem;
    }
  }

  &__image {
    width: 100%;
  }
  &__container {
    @include tablet {
      margin: 0 4rem;
    }
    @include desktop {
      margin: 0 5.5rem;
    }
  }

  &__text {
    @include tablet {
    }
  }
}

.figure {
  margin: 0;
  background: $alabaster;

  &__container {
    margin: 0 1rem;

    @include tablet {
      margin: 0 2rem;
      padding-bottom: 1.2rem;
    }

    @include desktop {
      max-width: 1220px;
      margin: 0 auto;
    }
  }

  &__images {
    width: 100%;
    margin-bottom: 1rem;
    filter: grayscale(20);

    &:hover {
      filter: none;
    }

    @include tablet {
      width: 31%;
    }
  }
  &__wrapper {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.form {
  &__label {
    color: $silver;
    font-weight: 450;
  }
}

.comments {
  &__container {
    margin: 0 1rem;
    border-top: 1px solid $mercury;
    display: flex;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    color: $primary-black;
    font-weight: bold;
  }

  &__item {
    color: $silver;
  }

  &__image {
    margin-top: 1rem;

    margin-right: 2rem;
    width: 6rem;
    max-width: 6rem;
    background: $mercury;
    height: 50px;
    border-radius: 50%;
  }
}
