@use "./variables" as *;

@mixin mobile-primary-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: avenir-next-regular;
}

@mixin copy {
  font-size: 0.85rem;
  line-height: 1.125rem;
  font-family: avenir;
  color: $primary-black;
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin button {
  background-color: $primary-black;
  color: $white;
  font-size: 16px;
  border: 1px solid $primary-black;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 1rem;
  cursor: pointer;
}
