@use "./variables" as *;
@use "./mixins" as *;

.shows {
  @include desktop {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
  }

  &__header {
    margin: 2rem 1rem;
    @include tablet {
      font-size: 2.5rem;
      margin: 4rem 2rem;
    }
    @include desktop {
      margin: 2.4rem 6rem 1rem 2rem;
    }
  }

  &__secondary-wrapper {
    @include tablet {
      display: flex;
      margin: 0 2rem;
    }
  }

  &__container {
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 3rem;
    }

    @include desktop {
      margin-top: 3rem;
      width: 60%;
    }
  }

  &__outer-container {
    border-bottom: 1px solid $mercury;
    margin-top: 1rem;

    &:hover {
      background: $alabaster;
    }
    &:active {
      background: $mercury;
    }

    &--highlight {
      background: $mercury;
    }

    &--unactive {
      background: green;
    }
    @include tablet {
      margin: 0 1rem;
    }
  }

  &__inner-container {
    padding: 0;
    margin: 0 1rem;

    @include tablet {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  &__inner-subtitle {
    font-weight: bold;
    margin: 0 0rem 1rem 0;
    width: 7rem;
    white-space: nowrap;

    @include tablet {
      margin: 0 5rem 1rem 0;
    }
  }

  &__subtitle {
    color: $silver;
    font-weight: 450;
    margin: 0 0 0.5rem 0;
    font-size: 0.7rem;

    @include tablet {
      display: none;
    }
  }
  &__secondary-subtitle {
    color: $silver;
    font-weight: 450;
    display: none;
    font-size: 0.875rem;
    margin-right: 5.6rem;

    @include tablet {
      display: flex;
      font-size: 0.8.75rem;
      width: 25%;
    }
    &--margin {
      margin-right: 10.4rem;
      position: relative;
      right: 1.8rem;
    }
  }

  &__text {
    margin: 0 0 0.5rem 0;
    width: 7rem;
    white-space: nowrap;

    @include tablet {
      margin: 0 3rem 0.5rem 0;
    }

    &--margin {
      @include tablet {
        margin: 0 2rem 0rem 0;
      }
    }
  }

  &__button {
    @include button;
    margin-top: 0.8rem;
    width: 100%;

    &:hover {
      background: $secondary-black;
    }

    @include tablet {
      width: 9.375rem;
    }
  }
}
